/* 
Paletas:
#B841D9
#3703A6
#3C35F2
#1C1973
#100E40 */


body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-image: url(./img/back6.jpeg);    background-size:cover;    background-repeat: no-repeat;
  background-attachment: fixed;
  }
  
  header {
    background-color: #B841D9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  header h1 {
    font-family: 'Archivo',sans-serif;
    font-size: 3rem;
    font-weight: 700;
  }

  header h2 {
    margin: 10px;
  }
  
  main {
    margin: 0 auto;
    padding: 0 px;
    color:#fff;
  }

  .container-textoprojeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
  }

  .container-textoprojeto h2 {
    font-size: 2rem;
  }
  .container-textoprojeto p {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #100e40;
  }

  .container-textoprojeto-borda {
    padding: 10px;
    border: 2px solid #B841D9;
  }

  .como-fizemos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    
  }

  .como-fizemos-borda h2 {
    font-family: 'Sarala',sans-serif;
    font-size: 2rem;
    text-align:center;
  }

  .como-fizemos-borda p {
    font-family: 'Sarala',sans-serif;
    font-size: 1.2rem;
    text-align:left;
    padding: 10px;
  }

  .como-fizemos-borda {
    padding: 10px;
    background-color: #3C35F270;
    width: 80%;
    border-radius: 10px;
  }

         
  .chatbots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    gap: 20px;
    size: 100%;
  }

  .balao-fala-site {
    margin-top: 200px;
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 8px solid #B841D9;
    border-radius: 10px;
    max-width: 100px;
  }

  .balao-fala-site a {
    color: #0070c9;
    text-decoration: none;
    text-align: center;
  }

  .balao-fala-wats {
    margin-bottom: 200px;
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 8px solid #B841D9;
    border-radius: 10px;
    max-width: 100px;
  }

  .balao-fala-wats a {
    color: #0070c9;
    text-decoration: none;
    text-align: center;
  }

  .link-vshape {
    font-size: 1rem;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    text-align: center;
  }

  #robochats {
    width:30%;
    height: auto;
  }

  .link-whatsapp {
    font-size: 1rem;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .container-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #imagem-fundo-banner {
    display: block;
    width: 85%;
    height: auto;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    
  }   

  /* .container-banner-button {
    margin:30px;
    position: absolute; /* Posicionamento absoluto em relação ao container */
    /* top: 60%; Posicione o botão no centro vertical */
    /* left: 20%; Posicione o botão no centro horizontal */
    /* transform: translate(-50%, -50%); Centralize o botão com base em sua própria largura/altura */
/* } */
    
  .botaomacht {
    position: absolute;
    top:60%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: block;
    background-color:#22CCF2;
    color:black;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    max-width: 40%;
    
  }

  .botaomacht a {
    text-decoration: none;
  }

  footer {
    background-color: #B841D9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .contatos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin:30px;
  }

  #botaowats:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }

  .watsDani {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    gap:10px;
  }
   
  .watsSil {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    gap:10px;
  }

  .faleconosco {
    font-size: 20px;
    color:#3703A6;
    font-weight: 600;
  
  }

  .direitosreservados {
    border-top: 2px solid #100e40;
    padding: 0;
    margin-top: 20% 0;
  }
  
  /* @media (max-width: 768px) {
    body {
      font-size: 14px;
      width: 100%;
     }
       
    .botaomacht {

      width: 80%;
    } */

    
  /* } */